$primary-font: 'Roboto';

// Color
$hover-light-primary-color: #cdecd3;
$light-primary-color: #00bc2a;
$primary-color: #2db84c;
$dark-primary-color: #00710f;
$primary-text-color: #000;
$secondary-text-color: #0000008a;
$secondary-light-text-color: #00000042;
$amount-outcome-color: #e51c23;
$amount-income-color: #039be5;
$background-input-color: #f5f5f5;
$dark-error-color: #ce1414;
$light-error-color: #ffc3c3;
$light-gray: #f4f4f4;
$gray: #dddddd;
$dark-gray: #00000042;
$dark-x-gray: #0000008a;
$white: #ffffff;
$black: #000000;

// Font size
$fs-2x-sm: 11px;
$fs-x-sm: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 17px;
$fs-x-lg: 20px;
$fs-2x-lg: 32px;

// Z-index
$zindex-lv-1: 1;
$zindex-lv-2: 2;
$zindex-lv-3: 3;
$zindex-lv-4: 4;
