$primary-font: 'Roboto';

// Color
$primary-color: #2db84c;
$primary-text-color: #000;
$secondary-text-color: #0000008a;
$secondary-light-text-color: #00000042;
$receive-money-color: #e51c23;
$deducted-money-color: #039be5;

// Font size
$fs-2x-sm: 11px;
$fs-x-sm: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 17px;
$fs-x-lg: 20px;
$fs-2x-lg: 32px;
