.toast {
  @extend %d-flex;
  @include flex-layout($direction: column, $align: center, $gap: 30px);

  padding: 40px 50px;

  &__title {
    font-size: $fs-2x-lg;
  }

  &__message {
    font-size: $fs-lg;
    text-align: center;
  }

  &__redirect-btn {
    color: $white;
    font-size: $fs-md;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
  }
}

.success .toast__redirect-btn {
  background-color: $light-primary-color;
}

.error .toast__redirect-btn {
  background-color: $dark-error-color;
}
