.home-page {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;

    &__content {
      @extend %d-flex;
      @include flex-layout($justify: space-between, $align: center);

      padding: 12px 8px;
    }

    &__left-content {
      @extend %d-flex;
      @include flex-layout($align: center, $gap: 12px);
    }

    &__add-btn {
      @extend %base-btn, %rounded-sm;

      height: 32px;
      padding-inline: 12px;
      font-weight: 500;
      line-height: 16px;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background: $dark-primary-color;
      }
    }
  }
}
