.login-page,
.register-page {
  .background {
    height: 100vh;
    background: linear-gradient($dark-primary-color 314px, #ebebeb -100%);
  }

  .wrapper {
    @extend %margin-inline-auto;
    @extend %d-absolute;

    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .logo-web {
    padding-top: 54px;
  }

  .form {
    @extend %margin-inline-auto;

    margin-top: 34px;
    padding-top: 34px;
    padding-bottom: 40px;
    background-color: $white;
    width: 670px;
    border-radius: 20px;

    &__container {
      @extend %margin-inline-auto;

      display: flex;
      flex-direction: column;
      gap: 19px;
      width: 280px;
    }

    &__title {
      color: $primary-text-color;
      font-size: $fs-2x-lg;
      font-weight: 700;
      line-height: 48px;
    }

    &__error-message {
      font-size: $fs-md;
      background-color: $light-error-color;
      color: $dark-error-color;
      padding: 15px 15px;
      border-radius: 10px;
      line-height: 22px;
      list-style: inside;
    }

    &__description {
      margin-top: 15px;
      color: $secondary-text-color;
      font-size: $fs-md;
      line-height: 24px;
    }

    &__input {
      @extend %rounded-lg;

      font-size: $fs-md;
      height: 52px;
      border: 2px solid $background-input-color;
      background-color: $background-input-color;
      padding-inline: 14px;

      &-container {
        @extend %d-flex;
        @include flex-layout($direction: column, $gap: 7px);
      }
    }

    &__submit-btn {
      @extend %rounded-lg, %base-btn;

      height: 36px;
      margin-top: 30px;
    }

    &__link {
      color: $primary-color;
    }
  }

  .error-input {
    border: 2px solid $dark-error-color;
    background-color: $light-error-color;
  }

  .error-text {
    @extend %error-text;
  }
}
